body{
    background-color: #0A2140;
    font-family: 'Roboto Mono', monospace;;
}

.container{
    position: relative;
    background-color: #4E627D;
    width: 400px;
    height: 400px;
    margin: 100px auto;
    border-radius: 45px;
    padding: 30px;
    align-items: center;
    font-family: inherit;
}

.tela, .botoes{
    position: relative;
    width: 100%;
    margin:0 auto;
    
}

.tela{
    height: 25%;
}

#tela{
    background-color: #00C2CB;
    padding: 0px;
    border: 0px;
    border-radius: 5px;
    margin: 10px auto;
    width: 100%;
    text-align: center;
    font-size: 4em;
    font-family: inherit;
}

.botoes{
    height: 75%;
}

.botao{
    font-size: 2.5em;
    font-weight: bold;
    width: 25%;
    height: 20%;
    display: inline-block;
    font-family: inherit;
    background-color: #9E9E9E;
    border-radius: 15px;
}
